In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
area_dict = { 'California': 465484654645456, 'Texas': 846415615454154, 'Argentina': 900000000}
states_pop = { 'California': 1514646544565, 'Texas': 1565165454}

area=pd.Series(area_dict)
pop=pd.Series(states_pop)


state=pd.DataFrame({'Population':pop,'Area':area})
state

              Population             Area
Argentina            NaN        900000000
California  1.514647e+12  465484654645456
Texas       1.565165e+09  846415615454154

In [5]:
state.index

Index(['Argentina', 'California', 'Texas'], dtype='object')

In [6]:
state.columns

Index(['Population', 'Area'], dtype='object')

In [7]:
state['Area']

Argentina           900000000
California    465484654645456
Texas         846415615454154
Name: Area, dtype: int64

In [8]:
state['Area'] is state.Area

True

In [9]:
state['Area']==state.Area

Argentina     True
California    True
Texas         True
Name: Area, dtype: bool

In [10]:
pd.DataFrame(pop, columns=['Population'])

               Population
California  1514646544565
Texas          1565165454